/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Roboto Condensed', sans-serif !important;
}

body, html {
    height: 100%;
    margin: 0;
    font-size: 20px;
    overflow-x: hidden;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("img/road.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("img/pc.jpg");
    min-height: 100%;
}

.bgimg-3 {
    background-image: url("img/laptop.jpg");
    min-height: 100%;
}

.bgimg-4 {
    background-image: url("img/impressum.jpg") ;
    min-height: 100%;
    box-shadow: inset 0px 0px 500px 680px rgba(0, 0, 0, .7);
}


.imgCropp {
    /*width: 100px;*/
    /*height: 100px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*border-radius: 50%;*/
}

.pb {
    object-fit: cover;
    border-radius: 50%;
    height: 250px;
    width: 200px;
}

.flexwrapper {
    display: flex;
    flex-direction: column;
}

.flexwrapper p {
    margin-left: 80px;
}
.content {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 70px 80px;
    text-align: justify;
    display: flex;
}

.content-1 {

}

.content-2, .content-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-2 .entry, .content-3 .entry{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition-duration: 600ms;
}

.content-2 .entry.active, .content-3 .entry.active{
    opacity: 1 !important;
}

.content-2 .entry span.title {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 32px;
    margin-bottom: 8px;
    color: #111;
}

.content-2 .entry span.AG, .content-2 .entry span.duration
{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}

.content-2 .balken, .content-3 .balken {
    width: 100%;
    height: 150px;
    padding: 70px;
}

.content-2 .balken div{
    width: 50%;
    height: 100%;
    border-right: 2px solid #111;
}

.content-3 .entry{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition-duration: 600ms;
}



.content-3 .balken div{
    width: 50%;
    height: 100%;
    border-right: 2px solid #111;
}

.content-3 .entry .header{
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 32px;
    margin-bottom: 10px;
    color: #111;
}

.content-3 .entry .header span.left{
    float: left;
    width: 50%;
    text-align: left;
}

.content-3 .entry .header span.right{
    float: right;
    width: 50%;
    text-align: right;
}

.content-3 .entry .cursive{
    text-align: left;
    font-style: italic;
    font-weight: 300;
    line-height: 28px;
}

.content-3 ul{
    margin-top: 10px;
}

.content-3 li{
    text-align: left;
    list-style: inside;
    line-height: 40px;
    font-weight: 200;
}

.caption {
    position: absolute;
    left: 0;
    top: calc( 50% - 80px );
    width: 100%;
    text-align: center;
    color: #000;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

.caption span.border {
    animation: fade-in 2.5s ease-out;
    background-color: #111;
    color: #fff;
    padding: 18px;
    display: flex;
    font-size: 3vw;
    letter-spacing: 1vw;
}

.caption span.content {
    background-color: transparent;
    color: #f7f7f7;
    font-size: 7vw;
    letter-spacing: 2vw;
    display: flex;
    font-weight: 200;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    color: #111;
    margin-bottom: 20px;
}

p {
    line-height: 30px;
}

a {
    text-decoration: none;
    font-style: italic;
    font-weight: normal;
    color: orangered;
}

strong{
    font-weight: bold;
    color: #000;
}

.impressum {
    padding: 80px;
    color: #777;
}

.impressum h1 {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 32px;
    margin-bottom: 10px;
    color: #000;
}


@media only screen and (max-width: 600px) {
    .bgimg-2, .bgimg-3, .bgimg-4{
        background: black;
        width: 100%;
        height: 100%;
    }

    .content {
        flex-direction: column;
        padding: 20px;
    }
    .impressum{
        padding: 20px;
    }
    .imgCropp{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .flexwrapper p{
        margin: 0px;
    }

    .content-3 .entry .header{
        display: flex;
        flex-direction: column;
    }

    .content-3 .entry .header span.left{
        float: left;
        width: 100%;
        text-align: left;
    }

    .content-3 .entry .header span.right{
        float: left;
        width: 100%;
        text-align: left;
    }

    .content-3 li {
        line-height: 25px;
    }
}